hamburger top
    {
        width: 1553px;
        height: 84px;
        background: transparent;
    }
aside

    { 
        width: 367px;
        height: 2843px;
        background: transparent;
    }
    