/* メインの文章 */
.c-archive-center-wrapper {
    margin-top: 8%;
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 8%;
    @include tb {
        margin-top: 12%;
    }

    @include sp {
        margin-top: 8%;
    }
}

.c-archive-center-title {
    font-size: 36px;
    @include tb {
    
    }
    @include sp {
        font-size: 28px;
    }
}

.c-archive-center-text {
    font-size: 16px;
    @include tb {

    }
    @include sp {

    }    
}

/* ハンバーガーカード（左に画像、右に説明の文章） */
.c-archive-center-card-wrapper {
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 2%;
    background-color: #3C2B1C;
    height: auto;
    color: white;
    display: flex;
    @include sp {
        display: block;
    
    }
}

.c-archive-center-card-image {
    background-image: url("../images/archive-hamburger-image.jpg");
    width: 50%;
    background-size: cover;
    @include sp {
        width: 100%;
        padding-top: 100%;
    }
}



.c-archive-center-card-description {
    width: 50%;
    @include sp {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-bottom: 6%;
    }

}

.c-archive-center-card-title {
    font-size: 2.3vw;
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
        @include tb {
            font-size: 20px;
        }
        @include sp {
            font-size: 20px;
            padding-top: 2%;
        }
}

.c-archive-center-card-text {
    h3 {
        font-size: 1.5vw;
        margin-left: 5%;
        margin-right: 6%;
        margin-bottom: 4%;
        
        @include tb {
            font-size: 16px;
        }
        @include sp {
            font-size: 16px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        margin-left: 5%;
        margin-right: 6%;
    }
}

.c-archive-center-card-botton {
    color: #707070;
    background-color: white;
    margin-top: 6%;
    margin-bottom: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    border-radius: 30px;
    width: 60%;
    padding-left: 7%;
    padding-right: 7%;
    height: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* archive-search メインの文章 */
.c-archive-search-center-wrapper {
    margin-top: 4%;
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 8%;
    @include tb {
        
    }

    @include sp {

    }
}