/* aside side-menu text */
.c-menu {
    text-decoration: none;
    color: #303030;
    font-size: 1.3vw;
    font-family: 'M PLUS 1p', sans-serif;
    @include tb {
        font-size: 16px;
        position: relative;
        left: 0px;
    }
    @include sp {
        font-size: 16px;
    }
    li {
        text-decoration: none;
        font-size: 1.0vw;
        list-style-type: none;
        color: #303030;
        @include tb {
            font-size: 14px;
            position: relative;
            left: 0px;
        }
        @include sp {
            font-size: 14px;
        }
    }
}