/* aside side-menu text */
.c-menu {
    text-decoration: none;
    color: #303030;
    font-size: 1.3vw;
    font-family: 'M PLUS 1p', sans-serif;
    @include tb {
        font-size: 2.9vw;
        position: relative;
        left: 40px;
    }
    @include sp {
        font-size: 6.4vw;
    }
    li {
        text-decoration: none;
        font-size: 1.0vw;
        list-style-type: none;
        color: #303030;
        @include tb {
            font-size: 2.4vw;
            position: relative;
            left: 60px;
        }
        @include sp {
            font-size: 5.3vw;
        }
    }
}