/* テイクアウトとイートインの中の文章 */
.c-text-card {
    background-color: rgba($color:#ffffff, $alpha: 0.8);

     h3 {
         font-size: 1.54vw;
         padding: 5px;
     }
     p {
         font-size: 1.0vw;
         padding: 5px;
     }
}