

.l-body {
    width: 100%;
    height: auto;
    display: flex;
    @include tb {
        
        position: relative;
        
        .show {
            position: relative;
            

            
            
        }
    }
    
    &-header {
        width: 80.885%;
        background-color: #FFF7EF;
        @include tb {
            width: 100%;
        }
        /* 最上段からトップ画像の上まで① */
            &-top {
                display: flex;
                justify-content: space-between;
                @include tb {
                    flex-direction: column;
                    
                    
                }
                
            }
            

    }
    &-aside {
        width: 19.115%;
        background-color: #F2EDE9;
        display: block;
        height: auto;
        @include tb {
                display: none;
        }
        @include sp {
                display: none;
        }
            &-menu {
               
                
                margin-top: 82px;
                padding-left: 46px;
                
            }
            &-hamburger {
                
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
            &-side-menu {
                
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }

            &-drink-menu {
                
                
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
        
    }
}

/* archive-page */

.l-archive-body-header {
    width: 80.885%;
        background-color: #FFFDFA;
        
        @include tb {
            width: 100%;
        }
        /* 最上段からトップ画像の上まで① */
            &-top {
                display: flex;
                justify-content: space-between;
                background-color: #FFF7EF;
                width: 100%;
                height: auto;
                padding-bottom: 8%;
                width: 100%;
                height: auto;

                @include tb {
                    flex-direction: column;
                    padding-bottom: 36%;
                    margin-bottom: 10%;
                    
                    
                }
                @include sp {
                    padding-bottom: 60%;
                    margin-bottom: 0;
                }
                
            }




}

/* archive-search-page */
.l-archive-search-body-header {
    width: 80.885%;
        background-color: #FFFDFA;
        
        @include tb {
            width: 100%;
        }
        /* 最上段からトップ画像の上まで① */
            &-top {
                display: flex;
                justify-content: space-between;
                background-color: #FFF7EF;
                
                width: 100%;
                height: 217px;

                @include tb {
                    flex-direction: column;
                    
                    
                }
                @include sp {

                }
                
            }




}